<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="Author" content="Paras Dhiman">
    <meta name="Description" content="A page to redirect to my telegram bot" >
    <title>Fake-Mail Generator</title>
    <link rel="icon" href="https://img.icons8.com/ios-filled/452/bot.png" type="image/icon type">
    
    <style>
      *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1537526045572-fca8beed2a4f");
  background-position: bottom;
  background-size: cover;
}
    </style>
    <style>
      #footer {
      position: fixed;
      padding: 10px 10px 0px 10px;
      bottom: 0;
      width: 100%;
      /* Height of the footer*/
      height: 100px;
      background: transparent;
      }
    </style>
          
  </head>
  <body >
    <header>
      <div class = "myclass">
      </div>
      <h1>Fake-Mail Generator</h1>
      <p>This bot generates instant inbox of an email address.<br>
        <br>&nbsp;&nbsp;&nbsp;⏺For now you can only use @mailsac.com domain.
        <br>&nbsp;&nbsp;&nbsp;⏺Max no. of last mails you can see is 9. <br>
      </p>

      <h2>Visit The Bot</h2>
      <p><strong>Please click <a href="https://t.me/tempmailgen69_bot" target="_blank">HERE</a> to go to the bot.</strong></p>
    
      <h3><a href="https://github.com/dhimanparas20/Fake_Mail_Generator-Telegram-bot" target="_blank">Bot Repo</a></h3>
      <div id="footer">
        <br><br>
        <p>A bot by MST-Production House</p>
        &lt;&lt;&lt; &copy;<a href="https://github.com/dhimanparas20" target="_blank">Paras Dhiman</a> &gt;&gt;&gt;
      </div>
    </header>    
  </body>
</html>
